<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manorent - Noleggio a Lungo Termine</title>

</head>
<body>
    <link rel="stylesheet" href="styles/styles.css">
    <main>
        <div class="title">
            <img src="assets/logo_full.png" alt="Manorent Logo" class="head-logo">
        </div>
        <section class="hero-section">
            <div class="hero-bg"></div>
            <div class="hero-content">
                <h1 class="hero-title">Vuoi guidare senza pensieri e risparmiare sui costi della tua auto?</h1>
                <div class="divider"></div>
                <p class="hero-subtitle">Scopri tutti i vantaggi del noleggio a lungo termine! Richiedi subito un preventivo e trova la soluzione perfetta per te!</p>
                <div class="hero-buttons">
                    <div class="cta-button">
                        <a href="#auto-offerta" class="cta-link">
                            <span class="cta-text2">Le nostre offerte</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="auto-offerta" class="car-showcase">
            <h2 class="showcase-title">Le auto in <span style="text-decoration: underline; color: #e69a00;">offerta</span></h2>
            <div class="showcase-container">
                <div class="car-card">
                    <div class="car-image-container">
                        <img src="assets/mercedes_C220.png" alt="Mercedes C220" class="car-image">
                    </div>
                    <div class="car-divider"></div>
                    <div class="car-info">
                        <h3 class="car-title">Mercedes C220</h3>
                        <p class="car-price">€ 650</p>
                    </div>
                </div>
                
                <div class="car-card">
                    <div class="car-image-container">
                        <img src="assets/mercedes_E320.png" alt="Mercedes E320d" class="car-image">
                    </div>
                    <div class="car-divider"></div>
                    <div class="car-info">
                        <h3 class="car-title">Mercedes E320d</h3>
                        <p class="car-price">€ 1500</p>
                    </div>
                </div>
                
                <div class="car-card">
                    <div class="car-image-container">
                        <img src="assets/Renault_Clio.png" alt="Renault Clio" class="car-image">
                    </div>
                    <div class="car-divider"></div>
                    <div class="car-info">
                        <h3 class="car-title">Renault Clio</h3>
                        <p class="car-price">€ 300</p>
                    </div>
                </div>

                <div class="car-card">
                    <div class="car-image-container">
                        <img src="assets/bmw_530.png" alt="BMW 530d" class="car-image">
                    </div>
                    <div class="car-divider"></div>
                    <div class="car-info">
                        <h3 class="car-title">BMW 530d</h3>
                        <p class="car-price">€ 800</p>
                    </div>
                </div>
                
                <div class="car-card">
                    <div class="car-image-container">
                        <img src="assets/audi_a7.png" alt="Audi A7" class="car-image">
                    </div>
                    <div class="car-divider"></div>
                    <div class="car-info">
                        <h3 class="car-title">Audi A7</h3>
                        <p class="car-price">€ 1200</p>
                    </div>
                </div>
                
                <div class="car-card">
                    <div class="car-image-container">
                        <img src="assets/bmw_x7.png" alt="BMW X7i" class="car-image">
                    </div>
                    <div class="car-divider"></div>
                    <div class="car-info">
                        <h3 class="car-title">BMW X7i</h3>
                        <p class="car-price">€ 1600</p>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="perche-noleggio" class="benefits-section">
            <div class="benefits-container">
                <div class="benefits-text">
                    <div class="benefits-divider"></div>
                    <h2 class="benefits-title">Perché <span style="text-decoration: underline; color: #e69a00;">scegliere</span> il noleggio a lungo termine di Manorent?</h2>
                    <p class="benefits-description">Con le nostre offerte di noleggio a lungo termine, sei <span style="color: #e69a00;">libero di guidare senza restrizioni.</span></p>
                    <br>
                    <p class="benefits-description"> <span style="color: #e69a00;">Nessun anticipo e un unico canone mensile che include tutto!</span> È la soluzione perfetta per chi desidera il massimo della comodità e flessibilità..</p>
                </div>
                
                <div class="benefits-cards">
                    <div class="benefit-card">
                        <div class="benefit-icon">
                            <img src="assets/icon1.png" alt="KM illimitati" class="icon-image">
                        </div>
                        <h3 class="benefit-title">KM illimitati</h3>
                        <p class="benefit-description">Guida senza pensieri ovunque tu voglia</p>
                    </div>
                    
                    <div class="benefit-card">
                        <div class="benefit-icon">
                            <img src="assets/icon2.png" alt="Nessun anticipo" class="icon-image">
                        </div>
                        <h3 class="benefit-title">Nessun anticipo</h3>
                        <p class="benefit-description">Parti subito senza costi iniziali.</p>
                    </div>
                    
                    <div class="benefit-card">
                        <div class="benefit-icon">
                            <img src="assets/icon3.png" alt="Canone fisso" class="icon-image">
                        </div>
                        <h3 class="benefit-title">Canone fisso</h3>
                        <p class="benefit-description">Tutte le spese coperte in un unico pagamento mensile</p>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="richiedi-preventivo" class="contact-form-section">
            <div class="form-container">
                <h2 class="form-title">Richiedi un preventivo <span style="color: #e69a00; text-decoration: underline;"> personalizzato</span></h2>
                
                <form class="quote-form" action="#" method="post">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" placeholder="Il tuo nome" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="cognome">Cognome</label>
                        <input type="text" id="cognome" name="cognome" placeholder="Il tuo cognome" required>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input type="tel" id="telefono" name="telefono" placeholder="Il tuo numero di telefono" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="orario">Orario per contatto telefonico</label>
                            <select id="orario" name="orario" required>
                                <option value="" disabled selected>Orario</option>
                                <option value="mattina">Mattina (9:00-12:00)</option>
                                <option value="pranzo">Pausa pranzo (12:00-14:00)</option>
                                <option value="pomeriggio">Pomeriggio (14:00-18:00)</option>
                                <option value="sera">Sera (18:00-20:00)</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="citta">Città</label>
                        <input type="text" id="citta" name="citta" placeholder="La tua città" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="name@domain.com" required>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group">
                            <label for="km">Km</label>
                            <input type="text" id="km" name="km" placeholder="Quanti km percorri in media all'anno" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="noleggio-precedente">Hai mai fatto un noleggio?</label>
                            <select id="noleggio-precedente" name="noleggio-precedente" required>
                                <option value="" disabled selected>Si</option>
                                <option value="si">Si</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="crif">Hai segnalazioni in CRIF?</label>
                        <select id="crif" name="crif" required>
                            <option value="" disabled selected>Non so</option>
                            <option value="si">Si</option>
                            <option value="no">No</option>
                            <option value="non-so">Non so</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="esigenze">Le tue esigenze</label>
                        <textarea id="esigenze" name="esigenze" placeholder="Inserisci le tue esigenze del noleggio" rows="6" required></textarea>
                    </div>
                    
                    <div class="form-group privacy-group">
                        <input type="checkbox" id="privacy" name="privacy" required>
                        <label for="privacy">Dichiaro di aver preso visione dell'Informativa privacy resa ai sensi dell'Art. 13 Regolamento Europeo 679/2016, e di rilasciare il consenso al trattamento dei dati personali, per le finalità ivi indicate finalizzate alla corretta esecuzione delle obbligazioni contrattuali.</label>
                    </div>
                    
                    <button type="submit" class="submit-button">Richiedi preventivo</button>
                </form>
            </div>
        </section>
    </main>
    
    <section class="vantaggi-section">
        <div class="vantaggi-container">
            <h2 class="vantaggi-title">Noleggio a <span style="color: #e69a00; text-decoration: underline;">lungo termine</span></h2>
            
            <div class="vantaggi-columns">
                <div class="vantaggi-column">
                <ul>
                    <li class="vantaggio-text">Dimentica lo stress delle scadenze per assicurazione e bollo!</li>
                    <li class="vantaggio-text">Cambia auto ogni 2 o 3 anni senza pensieri.</li>
                    <li class="vantaggio-text">Paga senza anticipo e personalizza la tua rata</li>
                </ul>
                </div>
                
                <div class="vantaggi-column">
                <ul>
                    <li class="vantaggio-text">Liberati dai rischi legati alla proprietà dell'auto.</li>
                    <li class="vantaggio-text">Decidi tu per quanto tempo tenerla.</li>
                    <li class="vantaggio-text">Un'unica rata mensile, tutti i costi inclusi.</li>
                </ul>
                </div>
            </div>
            
            <p class="vantaggi-cta-text">Non aspettare oltre! Richiedi subito un preventivo e scopri, con l'aiuto di un esperto, la soluzione di noleggio perfetta per te!</p>
            
            <div class="cta-button vantaggi-cta">
                <a href="#richiedi-preventivo" class="cta-link">
                    <span class="cta-text">Richiedilo ora</span>
                </a>
            </div>
        </div>
    </section>
    
    <footer class="footer">
        <div class="footer-content">
            <div class="logo-container">
                <img src="assets/logo_full.png" alt="Manorent Logo" class="footer-logo">
            </div>
            <div class="footer-info">
                <p>Manorent srl<br>
                Via Galileo Ferraris, 89<br>
                52100 Arezzo (AR)<br>
                Tel. +39 0575 1596907<br>
                info@manorent.it<br>
                P.I./C.F. 02418150518</p>
            </div>
            <div class="social-icons">
                <a href="#" class="social-icon instagram">
                    <span class="icon-instagram"></span>
                </a>
                <a href="#" class="social-icon facebook">
                    <span class="icon-facebook"></span>
                </a>
                <a href="#" class="social-icon linkedin">
                    <span class="icon-linkedin"></span>
                </a>
            </div>
        </div>
    </footer>
    
    <div class="policy-bar">
        <div class="policy-container">
            <div class="policy-links">
                <div class="policy-item">
                    <a href="#" class="policy-link">Privacy policy</a>
                    <span class="separator">|</span>
                </div>
                <div class="policy-item">
                    <a href="#" class="policy-link">Cookie policy</a>
                    <span class="separator">|</span>
                </div>
                <div class="policy-item">
                    <a href="#" class="policy-link">Termini e condizioni</a>
                    <span class="separator">|</span>
                </div>
                <div class="policy-item">
                    <a href="#" class="policy-link">Contattaci</a>
                </div>
                <div class="policy-item">
                    <a href="#" class="policy-link">Termini e condizioni</a>
                    <span class="separator">|</span>
                </div>
                <div class="policy-item">
                    <a href="#" class="policy-link">Powered by <span style="color:#2F3F63; font-weight: bold;">Staff Millennium</span></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 